body {
  background-color: #efefef;
}

#content {
	width: 650px;
	height: auto;
	margin-left: auto ;
  	margin-right: auto ;
	text-align: center;
	border: 1px;
}	

input {
	font-size: 100%;
	background-color: #f2f2f2;
	border: 1px solid #bdbdbd;
	border-radius: 5px;
}

#password {
	text-align: left;
	display: inline-block;
}

input#submit {
	color: #444444;
}
